body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.scenes-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    z-index: 0;
}

.scene.active {
    opacity: 1;
    z-index: 1;
}

.bg {
    width: 100%;
    height: 100%;
    scale: 1.01;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.moon {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 60%;
    scale: 1.5;
    object-fit: contain;
    pointer-events: none;
}

.red-eyes {
    position: absolute;
    z-index: 1;
    top: 60%;
    scale: 0.15;
    object-fit: contain;
    pointer-events: none;
    opacity: 0;
}

.ET {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 90%;
    scale: 0.15;
    image-orientation: from-image;
    transform: scaleX(-1);
    pointer-events: none;
}